@font-face {
    font-family: 'SF dislpay pro';
    src: url("./fonts/SFPRODISPLAYREGULAR.OTF") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SF display proBold';
    src: url("./fonts/SFPRODISPLAYBOLD.OTF") format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'SF display proItalic';
    src: url("./fonts/SFPRODISPLAYLIGHTITALIC.OTF") format('truetype');
    font-style: italic;
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF dislpay pro';
}

:root{
    --color-principal: #7FCAFF14;
    --letra-gris: #888888;
    --letra-azul: #1090F2;
}
html{
    font-family: 'SF dislpay pro';
}
body{
    margin: 1vh 2vw;
    background-color: #080E24;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vh;
}
.headerIzq{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 320px;

}
.headerIzq img{
    width: 35px;
    margin-left: 10px;
}
.headerIzq img:hover{
    cursor: pointer;
}
.headerIzq input{
    width: 220px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: var(--color-principal);
    color: var(--letra-gris);
    font-size: 1.1rem;
    font-family: 'SF display proBold';
    padding-left: 20px;
}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
nav .botonHome{
    font-family: 'SF display proBold';
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    gap:10px;
}
nav .botonHome:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: var(--letra-gris);
    color: white;
}

nav .botonHome img{
    width: 25px;
}
nav .botonJude{
    font-size: 0.8rem;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-principal);
    border: none;
    border-radius: 72px;
    color: white;
    cursor: pointer;
    position: relative;
    gap: 10px;
}
.botonJude .poligono{
    position: absolute;
    left: 140px;

}
.imagenesNav9{
    width: 30px;
    cursor: pointer;
}

.imagenesNav{
    width: 30px;
}
.imagenesNav:hover{
    cursor: pointer;
}
.imgJude{
    width: 40px;
}


main{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}


.cuerpoPrincipal{
    flex-grow: 2;
    flex-shrink: 0;
    padding: 0 2vw;
    width: 55%;
}

.tarjetaPersonal{
    
    background-color: var(--color-principal);
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    position: relative;
}
.tarjetaPersonal img{
    width: 320px;
    
}
.tarjetaPersonal .jude{
    position: absolute;
    width: 75px;
    top: 35px;
    left: 125px;
}
.tarjetaPersonal .p1{
    padding-top: 30px;
    font-size: 1.2rem;
}
.p2{
    font-size: 0.8rem;
    color: var(--letra-gris);
}
.tarjetaPersonal .p3{
    text-align: center;
    font-size: 1rem;
}
.followers{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 90px;
    padding: 12px;
    position: relative;
}
.followers .p4{
    font-size: 1.2rem;
}
.followers .p5{
    font-size: 0.8rem;
    color: var(--letra-gris);
}
.tarjetaPersonal .lineaVertical{
    width: 1px;
    position: absolute;
    top: 228px;
}
.asideIzq a{
    text-decoration: none;
    color: #1090F2;
    display: flex;
    padding: 10px 0 20px 0;
}


.sugerencias{
    margin-top: 5vh;
    padding: 15px 25px 0;
    background-color: var(--color-principal);
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
}

.sugerencias .p1{
    width: 100%;
    justify-content: start;
}

.recomendedPeopleList{
    width: 100%;
}
.recomendedUserCard {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 1vh;
}
.recomendedUserCard img{
    width: 50px;
}

.recomendedUserCard button{
    color: black;
    border: none;
    border-radius: 50px;
    width: 75px;
    height: 30px;
    font-family: 'SF display proBold';
}
.recomendedUserCard button:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: var(--letra-gris);
    color: white;
    cursor: pointer;
}
.recomendedUserCard h6{
    color: #888888;
}
.sugerencias a{
    width: 100%;
    display: flex;
    justify-content: start;
    color: #1090F2;
}

.whatshappening{
    background-color: var(--color-principal);
    color: white;
    border-radius: 15px ;
    position: relative;
    
}
.whatshappening .imgJudeMain{
    width: 50px;
}
.whatshappening .judeInput{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 2vh 1vw;
    
}
.whatshappening input{
    border-radius: 15px;
    border: none;
    background-color: #7FCAFF14;
    height: 40px;
    width: 90%;
    color: white;
    padding-left: 15px;
    
}
.judeInput i{
    color: #FFFFFF40 ;
    position: absolute;
    right: 35px;
    cursor: pointer;
}
.pvst{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 2vh;
}
.pvst .botones{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #FFFFFF40;    ;
    background-color: transparent;
    border-radius: 15px;
    width: 90px;
    height: 35px;
    gap: 7px;
    color: white;
    font-size: 0.7rem;
    cursor: pointer;
    
}
.pvst .botones:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: var(--letra-gris);
}


.contenedorPrincipal{
    margin: 5vh 0;
    padding: 2vh;
    background-color: var(--color-principal);
    color: white;
    border-radius: 15px ;
    gap: 20px;
    position: relative;
}

.userImg{
    width: 50px;
    position: absolute;
    left: -70px;
}

.contenedorPrincipal .contenido{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}
.contenedorPrincipal .tituloPrincipal{
    display: flex;
    gap: 30px;
    padding-top: 10px;
    position: relative;
}
.contenedorPrincipal .bi11{
    position: absolute;
    right: 30px;
    color: gray;
    cursor: pointer;
}
.contenedorPrincipal .bi11:hover{
    transition: color 0.3s ease-in-out;
    color: white;
}
.contenedorPrincipal .p6{
    font-size: 0.9rem;
    width: 70%;
    padding: 2vh 0;
}
.contenido a{
    color: #1090F2;
}
.grupo24{
    width: 230px;
}
.contenido button{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.7rem;
    color: white;
    border: none;
    border: solid 1px #FFFFFF40;
    background-color: transparent;
    border-radius: 15px;
    padding: 5px 9px;
}

.contenido .botonesLakshay{
    margin: 3vh 2vw 2vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido .botonesLakshay button:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: var(--letra-gris);
    cursor: pointer;
}

.productHunt{
    margin: 5vh 0;
    padding: 2vh;
    background-color: var(--color-principal);
    color: white;
    border-radius: 15px ;
    display: flex;
    gap: 20px;
    position: relative;
}
.contenido .video{
    padding: 3vh 0;
    margin: 3vh 0;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.video iframe{
    width: 60%;
}

.trends{
    background-color: var(--color-principal);
    border-radius: 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2vh 1vw ;
}
.trends .titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}
.trends .p2{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 1vw 0;
}

.trends .trend .trendSeparado{
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
}
.trends .trend{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trends .lineaHorizontalAsideDer{
    width: 95%;
    height: 2px;
}
.trends a{
    width: 100%;
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: #1090F2 ;
}

.trends i:hover{
    transition: 0.3s ease-in-out;
    color: grey;
    cursor: pointer;
}





@media screen and (max-width: 1000px){
    html{
        font-size: 15px;
    }
    header{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .headerIzq input{
        width: 230px;
    }
    .cuerpoPrincipal{
        width: 90%;
    }

    .lineaNav{
        display: none;
    }
    aside{
        display: none;
    }
    
    nav .botonHome{
        display: none;
    }
    nav .imagenesNav{
        display: none;
    }
}